nav {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100vh;
  z-index: 1;
  width: 5%;
}

.navbar-container {
  background-color: var(--background-main);
  position: absolute;
  height: 100vh;
  width: 25vw;
  z-index: 3;
  left: 0;
  top: 0;
}

.navbar-logo {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 2rem;
}

.navbar-links {
  text-transform: capitalize;
  justify-content: center;
  flex-direction: column;
  margin-left: 6rem;
  display: flex;
  height: 100%;
  gap: 1rem;
}

.footwear-links {
  position: relative;
}

.link {
  font-size: 2.5rem;
  color: inherit;
  width: 50%;
}

.sub-link {
  font-size: 2.2rem;
  color: inherit;
}

.link:hover {
  font-weight: 600;
}

.plus-icon {
  position: absolute;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0 1rem;
  top: 0.8rem;
}

.footwear-variations {
  flex-direction: column;
  margin-left: 3rem;
  display: flex;
}

.hamburger-container {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
}

.navbar-socials {
  margin: 2rem 0;
}

.navbar-socials :hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.navbar-social-icon {
  cursor: pointer;
  margin: 0 0.2rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

@media screen and (max-width: 768px) and (min-width: 412px) {
  nav {
    width: 8vw;
  }
  .navbar-container {
    width: 20vw;
  }
  .navbar-links {
    margin-left: 3rem;
  }

  .plus-icon {
    font-size: 1.5rem;
  }

  .link {
    font-size: 2rem;
  }
  .sub-link {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 412px) {
  nav {
    justify-content: flex-start;
    padding-top: 5rem;
    width: 8vw;
  }
  .navbar-container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding-top: 2rem;
    width: 28vw;
  }

  .hamburger-container {
    height: 3rem;
    width: 3rem;
  }

  .navbar-logo {
    font-size: 1.5rem;
  }

  .navbar-links {
    justify-content: center;
    position: relative;
    margin-left: 1rem;
    gap: 1rem;
  }

  .plus-icon {
    position: absolute;
    font-size: 1rem;
    height: 100%;
    top: 0.2rem;
    left: 6rem;
  }

  .link {
    font-size: 1.2rem;
  }
  .sub-link {
    font-size: 1.2rem;
  }
  .navbar-socials {
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 10rem;
    height: 100%;
    gap: 1rem;
  }

  .navbar-social-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
