.product-form-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--background-white);
  transform: translate(-50%, 0);
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  display: flex;
  height: 70vh;
  width: 50vw;
  z-index: 11;
  left: 50%;
}

.product-form-title {
  align-items: center;
  font-size: 3rem;
  display: flex;
  height: 10vh;
}

.product-form {
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  display: flex;
  height: 40vh;
  width: 100%;
}

.product-form-input-container {
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.product-form-input {
  background-color: transparent;
  border: none;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.product-form-input::placeholder {
  font-family: var(--trekCare-font-family);
  font-size: 1.3rem;
  color: black;
}

.product-form-input:focus {
  outline: none;
}

.product-rate {
  width: 12%;
}

.product-description {
  height: 8vh;
}

.product-form-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20vh;
  width: 100%;
}

.product-form-button {
  font-family: var(--trekCare-font-family);
  border-radius: 5px;
  font-size: 1.7rem;
  margin: 1rem 1rem;
  height: 3rem;
  border: none;
  width: 10rem;
}

.product-form-button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.product-form-button:disabled {
  background-color: var(--background-disabled-button);
  filter: brightness(1);
  cursor: not-allowed;
  opacity: 0.65;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

@media screen and (max-width: 412px) {
  .product-form-container {
    background-color: var(--background-white);
    transform: translate(-50%, 0);
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 11;
    left: 50%;
  }
  .product-rate {
    width: 30%;
  }
  .product-form-title {
    margin-bottom: 10rem;
    height: 10rem;
  }

  .product-description {
    height: 20vh;
  }
}
