.footwear-layout-section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.footwear-layout {
  grid-template-columns: repeat(4, 1fr);
  padding-left: 10%;
  display: grid;
  height: 100%;
  width: 95vw;
  gap: 1rem;
}
.footwear-layout-title {
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}

.footwear-shoe-link {
  color: inherit;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

@media screen and (max-width: 768px) and (min-width: 412px) {
  .footwear-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 412px) {
  .footwear-layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .footwear-shoe-link {
    color: inherit;
  }
}
