.hero-section {
  background-color: var(--background-main);
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3rem 0;
  display: flex;
  height: 100vh;
  width: 100%;
}

.hero-logo {
  height: 4rem;
  width: 4rem;
}

.hero-image {
  filter: drop-shadow(1px 37px 35px #000000);
  animation: moving 4s linear infinite;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 85vh;
  width: 51vw;
  left: 50%;
  top: 50%;
}

.hero-slogan {
  display: inline-block;
  letter-spacing: -1px;
  text-align: start;
  font-weight: 700;
  line-height: 1.1;
  margin-left: 75%;
  font-size:7vh;
  display: flex;
  width: 100%;
}

.hero-link {
  padding-top: 1rem;
  align-self: center;
  position: relative;
  font-weight: 400;
  margin-left: 3rem;
  cursor: pointer;
  font-size: 2rem;
  color: inherit;
  display: flex;
}

.hero-link:focus {
  outline: none;
}

.hero-arrow-icon {
  transition: transform 0.3s ease;
  vertical-align: middle;
  padding-top: 1.2rem;
  margin-left: 0.5rem;
  height: 100%;
  width: 100%;
}

.hero-link:hover .hero-arrow-icon {
  transform: translateX(10px);
}

@keyframes moving {
  50% {
    top: 53%;
  }
  100% {
    top: 50%;
  }
}

/* -------------- */
/* Responsiveness */
/* -------------- */

@media screen and (max-width: 768px) and (min-width: 412px) {
  .hero-image {
    height: 40vh;
    width: 50vw;
  }
  .hero-slogan-container {
    margin-bottom: 6rem;
  }
  .hero-slogan {
    font-size: 5rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 412px) {
  .hero-image {
    height: 30vh;
    width: 70vw;
    left: 50%;
    top: 40%;
  }
  @keyframes moving {
    50% {
      top: 43%;
    }
    100% {
      top: 40%;
    }
  }
  .hero-slogan-container {
    margin-bottom: 6rem;
  }
  .hero-slogan {
    font-size: 3rem;
    margin-left: 0;
    width: 100%;
  }
  .hero-link {
    align-items: flex-start;
    width: 20rem;
  }
}
