/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-size: 62.5%;
}

body {
  font-family: var(--trekCare-font-family);
  background-color: var(--background-main);
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.distressed {
  background-image: repeating-radial-gradient(
    circle at 25% 35%,
    white,
    rgb(223, 223, 223) 0.00085px
  );
  animation: static 5s linear infinite;
}

@keyframes static {
  from {
    background-size: 150%;
  }
  to {
    background-size: 200%;
  }
}
