:root {
  /* Backgrounds */
  --background-secondary: rgba(40, 39, 37, 1);
  --background-white: rgb(255, 255, 255);
  --background-main: rgb(227, 226, 221);
  /* Buttons background */
  --background-disabled-button: rgb(211, 211, 211);
  --background-update-button: #a0cfa6;
  --background-remove-button: #e7a89c;

  /* Fonts */
  --trekCare-font-family: "Inconsolata", sans-serif;
}
