.footer {
  justify-content: center;
  flex-direction: column;
  display: flex;
  height: 115vh;
  width: 100%;
}

.footer-form-container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 60vh;
  width: 100%;
}

.footer-form {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 30rem;
  width: 40rem;
}
.footer-form-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.1;
}

.footer-input {
  background-color: transparent;
  font-family: var(--trekCare-font-family);
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid black;
}

.footer-input:focus {
  outline: none;
}

.footer-button {
  font-family: var(--trekCare-font-family);
  background-color: var(--background-main);
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: inherit;
  border: none;
  height: 4rem;
  width: 100%;
}

.footer-button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.footer-details-container {
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 10vw;
  display: flex;
  height: 40vh;
  width: 100%;
}
.footer-socials-links {
  flex-direction: column;
  margin-bottom: 2rem;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.footer-link {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 400;
  color: inherit;
  width: 20%;
}

.footer-arrow {
  transition: transform 0.3s ease;
  vertical-align: middle;
  visibility: hidden;
  width: 3rem;
  font-size: 1.5rem;
}

.footer-link:hover .footer-arrow {
  transform: translateX(10px);
  visibility: visible;
}

.footer-address {
  width: 25%;
  margin: 1rem 0;
  font-size: 1.4rem;
}

.footer-rights {
  margin-right: 5rem;
  font-size: 1.4rem;
  text-align: end;
}

/* -------------- */
/* Responsiveness */
/* -------------- */

@media screen and (max-width: 768px) and (min-width: 412px) {
  .footer-details-container {
    justify-content: center;
  }
}

@media screen and (max-width: 412px) {
  .footer {
    height: 100%;
  }
  .footer-form {
    height: 30rem;
    width: 30rem;
  }
  .footer-details-container {
    height: 100%;
  }
}
